---
import MyComponent from '../components/myComponent';
import '../assets/fonts.css';
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
			@font-face {
				font-family: 'Onest-Black';
				src: url('/public/fonts/Onest/Onest-Black.ttf')
			}
			html,
			body {
				font-family: system-ui;
				//font-family: "Onest-Black";
				margin: 0;
			}
			body {
				padding: 2rem;
			}
		</style>
	</head>
	<body>
	  <main>
	    <MyComponent />
	  </main>
	</body>
</html>



